export PROJECT_ROOT=/mingli01/project/xiyongkai/qwen3vl-seg
export DATA_ROOT=/file_storage01/home/mingli/data/xyk
export MODEL_ROOT=/file_storage01/home/mingli/data/xyk/checkpoints
export PIP_CACHE_DIR=/file_storage01/home/mingli/data/xyk/cache/pip
export HF_HOME=/file_storage01/home/mingli/data/xyk/cache/hf
export PYTHONNOUSERSITE=1